 .page2-app__container  {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     min-height: 85vh;
     font-size: 50px;
     font-width: bold;
     background-color: bisque;
 }